@use "variables" as var;
.startActive{
    opacity: 1;
  }
  .startOff{
    opacity: 0.2;
  }
#start{
    margin-top: 1vh;
    font-size: 1rem;
background-color: var.$c-blue;
padding: 1vh 3vh;
border: 0px solid var.$c-blue;
border-radius: 2.5vh;
transition: 1s ease;
&:hover{
    background-color:  var.$c-pink;
}
&:before{
    content: "";
  position: absolute;
  height: 3vh;
  width: 7vh;
  background-color:  var.$c-pink;
  opacity: 0.6;
  z-index: -1;
  filter: blur(15px);
}
}  
.dark{
    color: var.$c-dark;  
}
.light{
    color: var.$c-light;
}
