@use "variables" as var;
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
#container {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
      animation: gradient-spin 50s linear infinite;
    justify-content: center;
  }
 .day{
    background-image: linear-gradient(
        var(--rotate),
        var.$c-blue,
        var.$c-pink,
        var.$c-pinker 45%,
        var.$c-light,
        var.$c-green
      );
  }
  .night{
    background-image: linear-gradient(
        var(--rotate),
        var.$c-pink,
        var.$c-blue,
        var.$c-greener 45%,
        var.$c-dark,
        var.$c-green
      );
  }
  
  @keyframes gradient-spin {
      0% {
        --rotate: 0deg;
      }
      25%{
          --rotate: 40deg;
      }
      75%{
        --rotate: -40deg;
    }
      100% {
        --rotate: 0deg;
      }
    }