main {
  z-index: 13;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
}

main::before {
  content: "";
  position: absolute;
  top: 1vh;
  height: 98vh;
  width: 98vw;
  background-color: inherit;
  z-index: -1;
  filter: blur(30px);
  pointer-events: none;
}

.main-night {
  background-color: #0e0a28;
  color: #fbf6fc;
  opacity: 0.67;
}

.main-day {
  background-color: #fbf6fc;
  color: #0e0a28;
  opacity: 0.8;
}

#chart {
  margin-top: 2vh;
  width: 50vh;
  height: 50vh;
}
@media (max-aspect-ratio: 1/1) {
  #chart {
    width: 60vw;
    height: 60vw;
  }
}

#chart-inner {
  background-color: #adb900;
  top: -1%;
  left: -1%;
  width: 101%;
  height: 101%;
  position: relative;
  border: 1px solid #adb900;
  border-radius: 50%;
  transition: 0.2s ease;
}

#chart-outer {
  position: relative;
  background-color: #fbf6fc;
  width: 100%;
  height: 100%;
  position: relative;
  border: 5px solid #adb900;
  border-radius: 50%;
  transition: 0.2s ease;
}

.chart-day {
  opacity: 1;
}

.chart-night {
  opacity: 0.7;
}

.animationOff {
  background: #adb900;
}

.animationOn {
  animation: timer 120s linear;
}

@keyframes timer {
  from {
    width: 1%;
    height: 1%;
    top: 50%;
    left: 50%;
  }
  to {
    width: 101%;
    height: 101%;
    top: -1%;
    left: -1%;
  }
}
.startActive {
  opacity: 1;
}

.startOff {
  opacity: 0.2;
}

#start {
  margin: 0;
  font-size: 1rem;
  background-color: #7670ae;
  padding: 0.5rem 1.5rem;
  border: 0px solid #7670ae;
  border-radius: 1.5rem;
  transition: 1s ease;
}
#start:hover {
  background-color: #f79ff6;
}
#start:before {
  content: "";
  position: absolute;
  height: 2rem;
  width: 4rem;
  background-color: #f79ff6;
  opacity: 0.6;
  z-index: -1;
  filter: blur(15px);
}

.dark {
  color: #0e0a28;
}

.light {
  color: #fbf6fc;
}

h1, h2, h3, ul, p, button {
  margin: 0;
  padding: 0;
}

body {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: #fbf6fc;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

a {
  text-decoration: none;
  color: inherit;
}

#container {
  z-index: -1 !important;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.day {
  background-image: linear-gradient(212deg, #9c96d9, #f79ff6, #e45ecf 45%, #fbf6fc, #adb900);
}

.night {
  background-image: linear-gradient(212deg, #f79ff6, #7670ae, #628e1f 45%, #0e0a28, #adb900);
}

main ul {
  list-style-position: outside;
  list-style-type: circle;
  margin-bottom: 2vh;
}

#countdown {
  color: #628e1f;
  font-size: 1.17rem;
  font-weight: bold;
  margin-top: 3vh;
  margin-bottom: 1vh;
}

header {
  position: absolute;
  top: 0;
}

header ul {
  padding-bottom: 0.5vh;
  padding-top: 2vh;
  width: 90vw;
  list-style: none;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  cursor: pointer;
}

header ul li {
  padding: 0 2vh;
  pointer-events: all;
}

.ul-night {
  border-bottom: 1px solid #fbf6fc;
  color: #fbf6fc;
}

.ul-day {
  border-bottom: 1px solid #0e0a28;
  color: #0e0a28;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
}

.footer {
  width: 90vw;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.footer__child {
  padding-top: 0.5vh;
  padding-bottom: 2vh;
}

.footer ul {
  list-style: none;
  display: flex;
}

.footer ul li {
  padding: 0 2vh;
}

.footer-night {
  border-top: 1px solid #fbf6fc;
  color: #fbf6fc;
}
.footer-night__child {
  color: #fbf6fc;
}

.footer-day {
  border-top: 1px solid #0e0a28;
  color: #0e0a28;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
}
.footer-day__child {
  color: #0e0a28;
}

.rules {
  opacity: 0;
  position: relative;
  display: block;
  top: 4vh;
  width: 70vw;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  transition: 0.5s ease;
}
.rules__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vh;
}

.rules ul {
  list-style-position: inside;
  padding: 0.5rem;
}

.rules p {
  padding: 0.5rem;
}

.rules button {
  opacity: 0.9;
  padding: 0.4rem 0.9rem;
  background-color: #fbf6fc;
  border: 1px solid #7670ae;
  border-radius: 1rem;
  color: #7670ae;
  cursor: pointer;
}

.rules-day {
  background-color: #fbf6fc;
  color: #7670ae;
}

.rules-night {
  background-color: #628e1f;
  color: #fbf6fc;
}

/*# sourceMappingURL=style.css.map */
